#detallesMeetupContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
}

#meetupDetalles {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detailsPage {
    position: relative;
    background-color: rgba(255, 255, 255, 0.637);
    border-radius: 2vh;
    padding: 4vh;
    width: 90vw;
    height: fit-content;
    color: black;
}

.detailsPage p {
    text-shadow: 0px 0px 2px black;
    font-size: 2vh;
}

.detailsPage ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    height: fit-content;
    background-color: hsla(0, 0%, 100%, 0);
    border-radius: 2vh;
    padding: 2vh;
    overflow: scroll;
    width: 100%;
    height: fit-content;
    overflow-y: hidden;
}

#h4Asistentes {
    margin-bottom: 0;
}

.detailsPage ul .userCard {
    flex-direction: column;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0);
    padding: 1vh;
}

.detailsPage li {
    list-style-type: none;
}

.detailsPage h3 {
    font-size: 3.5vh;
    text-shadow: 0px 0px 2px black;
    margin-bottom: 2vh;
}

.detailsPage h4 {
    font-size: 2.5vh;
    margin-block: 2vh;
    text-shadow: 0px 0px 2px black;
}

.detailsPage h5 {
    font-size: 2.5vh;
    margin-block: 2vh;
    text-shadow: 0px 0px 2px black;
}

.detailsPage #areaImagen {
    position: relative;
}

.detailsPage #areaImagen > img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 2vh;
}

.detailsPage button:last-child {
    margin-left: 2vh;
}

.available-dates {
    margin-bottom: 2vh;
}

#areaImagen > img.flechaDetallesMeetup {
    position: absolute;
    height: 8vh;
    width: 5vh;
    top: 15vh;
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.2s ease;
}

#areaImagen > img.flechaDetallesMeetup:hover {
    transform: scale(1.2);
}

#areaImagen > img.flechaDetallesMeetup:active {
    transform: scale(1);
}

#areaImagen:hover .flechaDetallesMeetup {
    opacity: 1;
}

#flechaDerecha {
    right: 2vh;
}

#FlechaIzquierda {
    left: 2vh;
}

#meetupEditButton {
    margin-top: 2vh;
}

#locationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: fit-content;
    border-radius: 2vh;
    background-color: rgba(255, 255, 255, 0.637);
    padding: 4vh;
}

#datosUbicacionDetallesMeetup {
    position: relative;
    border-radius: 2vh;
    width: 80vh;
    height: fit-content;
    color: black;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#datosUbicacionDetallesMeetup h4 {
    font-size: 3.5vh;
    text-shadow: 0px 0px 2px black;
    margin-bottom: 1vh;
}

#datosUbicacionDetallesMeetup p {
    font-size: 2vh;
    text-shadow: 0px 0px 1px black;
}

#datosUbicacionDetallesMeetup li {
    list-style-type: none;
}

#datosUbicacionDetallesMeetup .userCard {
    width: 40vh;
}

#datosUbicacionDetallesMeetup ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1vh;
    height: 30vh;
    width: fit-content;
    overflow: scroll;
}

/* -------------------------------------------- Media query mobile horizontal ---------------------------------------------- */

@media (min-width: 730px) {
    #detallesMeetupContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 10vh;
        margin-top: 4vh;
    }

    .detailsPage {
        position: relative;
        background-color: rgba(255, 255, 255, 0.637);
        border-radius: 2vh;
        padding: 4vh;
        width: 80vh;
        color: black;
    }

    .detailsPage p {
        text-shadow: 0px 0px 2px black;
        font-size: 2vh;
    }

    .detailsPage ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2vh;
        height: fit-content;
        background-color: hsla(0, 0%, 100%, 0);
        border-radius: 2vh;
        padding: 2vh;
        overflow: scroll;
        width: 100%;
        height: fit-content;
        overflow-y: hidden;
    }

    #h4Asistentes {
        margin-bottom: 0;
    }

    .detailsPage ul .userCard {
        flex-direction: column;
        height: fit-content;
        background-color: rgba(255, 255, 255, 0);
        padding: 1vh;
    }

    .detailsPage li {
        list-style-type: none;
    }

    .detailsPage h3 {
        font-size: 5vh;
        text-shadow: 0px 0px 2px black;
        margin-block: 4vh;
    }

    .detailsPage h4 {
        font-size: 4vh;
        margin-block: 3vh;
        text-shadow: 0px 0px 2px black;
    }

    .detailsPage #areaImagen {
        position: relative;
    }

    .detailsPage #areaImagen > img {
        width: 100%;
        aspect-ratio: 16/9;
        border-radius: 2vh;
    }

    .detailsPage button:last-child {
        margin-left: 2vh;
    }

    .available-dates {
        margin-bottom: 2vh;
    }

    #areaImagen > img.flechaDetallesMeetup {
        position: absolute;
        height: 8vh;
        width: 5vh;
        top: 16vh;
        opacity: 0;
        transition: opacity 0.4s ease, transform 0.2s ease;
    }

    #areaImagen > img.flechaDetallesMeetup:hover {
        transform: scale(1.2);
    }

    #areaImagen > img.flechaDetallesMeetup:active {
        transform: scale(1);
    }

    #areaImagen:hover .flechaDetallesMeetup {
        opacity: 1;
    }

    #flechaDerecha {
        right: 2vh;
    }

    #FlechaIzquierda {
        left: 2vh;
    }

    #meetupEditButton {
        margin-top: 2vh;
    }

    #locationContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60vh;
        height: fit-content;
        border-radius: 2vh;
        background-color: rgba(255, 255, 255, 0.637);
        padding: 4vh;
    }

    #datosUbicacionDetallesMeetup {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 2vh;
        width: 80vh;
        height: fit-content;
        color: black;
        padding-bottom: 2vh;
    }

    #datosUbicacionDetallesMeetup .userCard {
        width: 40vh;
    }

    #datosUbicacionDetallesMeetup ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1vh;
        height: 30vh;
        width: fit-content;
        overflow: scroll;
    }

    #datosUbicacionDetallesMeetup li {
        list-style-type: none;
    }

    #datosUbicacionDetallesMeetup h4 {
        margin-bottom: 2vh;
        margin-top: 1vh;
        font-size: 5vh;
        text-shadow: 0px 0px 2px black;
        margin-bottom: 2vh;
    }

    #datosUbicacionDetallesMeetup p {
        font-size: 2vh;
        text-shadow: 0px 0px 1px black;
    }
}

/* -------------------------------------------- Media query tablet ---------------------------------------------- */

@media (min-width: 600px) and (max-width: 1100px) {
    #profileCard {
        width: 65vw;
    }
}

/* -------------------------------------------- Media query PC ---------------------------------------------- */

@media (min-width: 1100px) {
    #detallesMeetupContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 10vh;
        margin-top: 4vh;
    }

    .detailsPage {
        position: relative;
        background-color: rgba(255, 255, 255, 0.637);
        border-radius: 2vh;
        padding: 4vh;
        width: 80vh;
        color: black;
    }

    .detailsPage p {
        text-shadow: 0px 0px 2px black;
        font-size: 2vh;
    }

    .detailsPage ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2vh;
        height: fit-content;
        background-color: hsla(0, 0%, 100%, 0);
        border-radius: 2vh;
        padding: 2vh;
        overflow: scroll;
        width: 100%;
        height: fit-content;
        overflow-y: hidden;
    }

    #h4Asistentes {
        margin-bottom: 0;
    }

    .detailsPage ul .userCard {
        flex-direction: column;
        height: fit-content;
        background-color: rgba(255, 255, 255, 0);
        padding: 1vh;
    }

    .detailsPage li {
        list-style-type: none;
    }

    .detailsPage h3 {
        font-size: 5vh;
        text-shadow: 0px 0px 2px black;
        margin-block: 4vh;
    }

    .detailsPage h4 {
        font-size: 4vh;
        margin-block: 3vh;
        text-shadow: 0px 0px 2px black;
    }

    .detailsPage #areaImagen {
        position: relative;
    }

    .detailsPage #areaImagen > img {
        width: 100%;
        aspect-ratio: 16/9;
        border-radius: 2vh;
    }

    .detailsPage button:last-child {
        margin-left: 2vh;
    }

    .available-dates {
        margin-bottom: 2vh;
    }

    #areaImagen > img.flechaDetallesMeetup {
        position: absolute;
        height: 8vh;
        width: 5vh;
        top: 16vh;
        opacity: 0;
        transition: opacity 0.4s ease, transform 0.2s ease;
    }

    #areaImagen > img.flechaDetallesMeetup:hover {
        transform: scale(1.2);
    }

    #areaImagen > img.flechaDetallesMeetup:active {
        transform: scale(1);
    }

    #areaImagen:hover .flechaDetallesMeetup {
        opacity: 1;
    }

    #flechaDerecha {
        right: 2vh;
    }

    #FlechaIzquierda {
        left: 2vh;
    }

    #meetupEditButton {
        margin-top: 2vh;
    }

    #locationContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60vh;
        height: fit-content;
        border-radius: 2vh;
        background-color: rgba(255, 255, 255, 0.637);
        padding: 4vh;
    }

    #datosUbicacionDetallesMeetup {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 2vh;
        width: 80vh;
        height: fit-content;
        color: black;
        padding-bottom: 2vh;
    }

    #datosUbicacionDetallesMeetup .userCard {
        width: 40vh;
    }

    #datosUbicacionDetallesMeetup ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1vh;
        height: 30vh;
        width: fit-content;
        overflow: scroll;
    }

    #datosUbicacionDetallesMeetup li {
        list-style-type: none;
    }

    #datosUbicacionDetallesMeetup h4 {
        margin-bottom: 2vh;
        margin-top: 1vh;
        font-size: 5vh;
        text-shadow: 0px 0px 2px black;
        margin-bottom: 2vh;
    }

    #datosUbicacionDetallesMeetup p {
        font-size: 2vh;
        text-shadow: 0px 0px 1px black;
    }
}
