.PrevisualizacionImagen {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PrevisualizacionImagen .a単adirImagen {
    width: 35vh;
    aspect-ratio: 16/9;
    border: 2px dashed #888;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 1vh;
}

.PrevisualizacionImagen .a単adirImagen::after {
    content: '+';
    font-size: 400%;
    color: #8f8;
}

.PrevisualizacionImagen input {
    display: none;
}

.PrevisualizacionImagen img {
    width: 35vh;
    aspect-ratio: 16/9;
    object-fit: cover;
    border: 2px dashed #888;
    display: block;
    margin-bottom: 1vh;
}

.PrevisualizacionImagen form {
    height: 100%;
}

.a単adirImagen {
    text-align: center;
}

.previsualizacion {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------------------------------------------- Media query tablet ---------------------------------------------- */

@media (min-width: 600px) and (max-width: 1100px) {
}

/* -------------------------------------------- Media query PC ---------------------------------------------- */

@media (min-width: 1100px) {
    .PrevisualizacionImagen .a単adirImagen {
        width: 40vh;
        margin-bottom: 5px;
    }

    .PrevisualizacionImagen img {
        width: 60vh;
        margin-bottom: 5px;
    }
}
