div#formularioNuevoMeetup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    height: 100%;
    width: 100%;
}

div#formularioNuevoMeetup > form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    gap: 20px;
    padding: 4vh;
    background-color: rgb(34, 55, 27);
    border-radius: 2vh;
}

div#formularioNuevoMeetup > form > button {
    align-self: center;
}

div#formularioNuevoMeetup > form > label {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 2vh;
    border-radius: 2vh;
}

div#formularioNuevoMeetup > form > label > :last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

#areaDescripcion {
    height: 10vh;
}
