.stars {
    display: flex;
    gap: 5px;
    justify-content: start;
    align-items: center;
}

.star {
    font-size: 2.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
    transition: transform 0.2s ease, color 0.3s ease;
}

.star.selected {
    color: #ffcc33;
    box-shadow: 0 0 10px #ffcc33;
    background-color: rgba(255, 255, 255, 0.251);
}

.star:hover {
    color: #ffd700;
    transform: scale(1.1);
}

#textarea-star {
    width: 150%;
    resize: none;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
