.search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    margin-bottom: 00vh;
    padding: 0vh;
    align-self: flex-start;
    justify-self: flex-end;
}

.search-form .filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 90vw;
    padding: 2vh;
    border-radius: 2vh;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.648);
    background-color: rgba(255, 255, 255, 0.502);
    gap: 1.5vh;
}

.search-form input {
    width: 35vh;
    flex: 1;
    margin-right: 10px;
    border: none;
    outline: none;
    font-size: 2vh;
    padding: 1.2vh 1.2vh;
    border-radius: 1vh;
}

.search-form input::placeholder {
    color: #aaa;
}

.search-form button {
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 2vh;
    width: 19vh;
    height: 5vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* -------------------------------------------- Media query mobile horizontal ---------------------------------------------- */

@media (min-width: 730px) {
    .search-form .filters {
        flex-direction: row;
        justify-content: space-between;
        width: fit-content;
        padding: 0.5vh 1vh;
    }

    .search-form input {
        width: auto;
    }

    .search-form button {
        width: 13vh;
    }
}

/* -------------------------------------------- Media query tablet ---------------------------------------------- */

@media (min-width: 600px) and (max-width: 1100px) {
    .search-form .filters {
        width: 45vw;
    }

    .search-form input {
        width: 35vw;
    }
}

/* -------------------------------------------- Media query PC ---------------------------------------------- */

@media (min-width: 1100px) {
    .search-form .filters {
        flex-direction: row;
        justify-content: space-between;
        width: fit-content;
        padding: 0.5vh 1vh;
    }

    .search-form input {
        width: auto;
    }

    .search-form button {
        width: 13vh;
    }
}
