.userCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    height: 10vh;
    border-radius: 2vh;
    font-size: 2.7vh;
    padding: 2.5vh;
    background-color: hsla(0, 0%, 100%, 0.586);
    color: black;
    gap: 2vh;
}

.userCard img {
    width: 6vh;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

.userCard a {
    color: white;
    font-size: 2vh;
}

.userCard button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    padding: 1.5vh;
}

/* -------------------------------------------- Media query mobile horizontal ---------------------------------------------- */

@media (min-width: 730px) {
    .userCard {
        font-size: 3vh;
    }

    .userCard img {
        width: 7vh;
    }

    .userCard button {
        padding: 1.7vh;
    }
}

/* -------------------------------------------- Media query tablet ---------------------------------------------- */

@media (min-width: 600px) and (max-width: 1100px) {
    .userCard {
        height: 12vh;
    }

    .userCard img {
        width: 7vh;
    }

    .userCard a {
        font-size: 3vh;
    }

    .userCard p {
        font-size: 4vh;
    }
}

/* -------------------------------------------- Media query PC ---------------------------------------------- */

@media (min-width: 1100px) {
    .userCard {
        font-size: 3vh;
    }

    .userCard img {
        width: 7vh;
    }

    .userCard button {
        padding: 1.7vh;
    }
}
