.meetupsCard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50vh;
    background-color: #fee4c3;
    padding: 2vh;
    border-radius: 2vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.meetupsCard > h3 {
    font-weight: bold;
    font-size: 3vh;
    color: black;
}

.meetupsCard > p {
    padding-block: 0.8vh;
    color: #555;
}

.meetupsCard > img {
    border-radius: 2vh;
    width: 100%;
}
