.buttoms-categories > button {
    width: 15vh;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
    font-size: 1.7vh;
}

.buttoms-categories {
    display: flex;
    margin-top: 2vh;
    align-items: center;
    gap: 5vh;
}
