header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2vh;
    margin-top: 4vh;
    margin-inline: 4vh;
    height: fit-content;
}

header > div {
    display: flex;
    justify-content: center;
    gap: 1vh;
}
