header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-inline: 3vh;

    background-color: rgba(0, 0, 0, 0.581);
    background-image: url(../public/videoFondo.gif);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header #headerTop {
    position: absolute;
    top: 4vh;
    padding-inline: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2vh;
    height: fit-content;
    width: 100%;
}

header #headerBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

header #headerBottom > p {
    width: 50%;
    padding: 2vh;
    border-radius: 2vh;
    font-size: 2vh;
    margin-block: 6vh;
}

header img {
    width: 30vh;
}
