#attendanceListCard {
    background-color: hsla(0, 0%, 100%, 0.586);
    border-radius: 2vh;
    color: black;
    padding: 3vh;
    width: 40vh;
    height: 53vh;
    margin-top: 5vh;
}

#attendanceListCard > h3 {
    font-size: 3vh;
    justify-self: flex-start;
    padding-left: 2vh;
    padding-bottom: 1vh;
    text-shadow: 0px 0px 2px black;
}

#attendanceListCard > ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5vh;
    padding: 2vh;
    width: 100%;
    height: 80%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#attendanceListCard > ul .meetupsCard {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0vh;
    width: 25vh;
    height: fit-content;
    font-size: 1.4vh;
    padding: 0vh;
    padding-inline: 2vh;
    padding-top: 2vh;
    border-radius: 2vh;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
}

#attendanceListCard > ul .meetupsCard:hover {
    transform: scale(1);
}

#attendanceListCard > ul .meetupsCard > h4 {
    font-weight: bold;
    font-size: 1.8vh;
    color: black;
    text-shadow: 0px 0px 1px black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#attendanceListCard > ul .meetupsCard > p {
    color: #424242;
    padding-block: 0.5vh;
    text-shadow: 0px 0px 1px #424242;
}

.meetup-and-attendance {
    background-color: hsl(0, 0%, 100%);
    border-radius: 2vh;
    transition: transform 0.2s ease;
}

.meetup-and-attendance:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    padding: 2vh;
    width: 25vh;
    height: 30vh;
    background-color: hsl(0, 0%, 100%);
    border-radius: 2vh;
}

/* -------------------------------------------- Media query mobile horizontal ---------------------------------------------- */

@media (min-width: 730px) {
    #attendanceListCard {
        width: 50vw;
        height: 50vh;
    }

    #attendanceListCard > h3 {
        font-size: 5vh;
    }

    #attendanceListCard > ul {
        padding: 1vh;
        height: 88%;
    }
}

/* -------------------------------------------- Media query tablet ---------------------------------------------- */

@media (min-width: 600px) and (max-width: 1100px) {
    #attendanceListCard {
        width: 80vw;
    }
}
/* -------------------------------------------- Media query PC ---------------------------------------------- */

@media (min-width: 1100px) {
    #attendanceListCard {
        width: 50vw;
        height: 50vh;
    }

    #attendanceListCard > h3 {
        font-size: 5vh;
    }

    #attendanceListCard > ul {
        padding: 1vh;
        height: 88%;
    }
}
