#profileContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#panelesUsuario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#listaMeetupsUsuario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profileContainer #profileCard {
    margin: 5vh;
}

#profileContainer #meetupListCard {
    margin-top: 5vh;
}
